.info-container {
    display: flex;
    place-content: center;
    flex-direction: column;
    flex-grow: 1
}

#city-name {
    width: 100%;
    font-weight: 300;
    font-size: 6rem;
    text-align: center;
    line-height: 145%;
    color: #FFFFFF;
    margin: 0;
}

.main-info-container {
    display: flex;
    place-content: center;
}

#icon-main {
    padding-right: 3rem;
}

#temp-main {
    display: flex;
    font-style: normal;
    font-weight: 600;
    font-size: 8.375rem;
    color: #FFFFFF;
    align-items: center;
}

.unit-selector {
    display: flex;
    flex-direction: column;
    place-content: center;
    padding-left: 2.3rem;
}   

.unit-button {
    display: none;
}

.unit-label {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 137%;
    text-align: center;
    color: #FFFFFF;
    opacity: 60%;
    cursor: pointer;
}

.unit-button:checked + .unit-label {
    opacity: 100%;
}
 
.unit-button:focus {
    opacity: 100%;
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.65);
}

#weather-type {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 137%;
    color: #FFFFFF;
    text-align: center;
    margin-top: -15px;
}

.secondary-info-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.secondary-info {
    margin: 0 10rem;
}

.secondary-name {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 137.5%;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 70%;
    margin-right: 2rem;
}

.secondary-value {
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 137.5%;
    letter-spacing: 0.065em;
    color: #FFFFFF;
}

@media only screen and (max-width: 480px) {
    .secondary-info-container {
        flex-direction: column;
        place-items: center;
    }

    .main-info-container {
        flex-direction: column;
        place-items: center;
    }

    #icon-main {
        padding-right: 0;
    }

    .unit-selector {
        padding-left: 0;
        flex-direction: row;
        gap: 2rem;
        margin-bottom: 2rem;
    }
}