html {
    font-size: 8px;
}

body * {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

body {  
    background-image: url("assets/tom-barrett-hgGplX3PFBg-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.search-container {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    --searchbar-height: 4rem;
    margin-top: 3vh;
}

#search-button {
    height: var(--searchbar-height);
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    display: flex;
    place-items: center;
    border-radius: 66px 0 0 66px;
    margin-left: 3vw;
}

#search-icon {
    height: 1.6rem;
    width: 1.6rem;
}

#searchbar {
    height: var(--searchbar-height);
    width: 18rem;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    padding-left: 10px;
    line-height: 4rem;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.7);
}

#searchbar::placeholder {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.7);
}

#current-location {
    height: var(--searchbar-height);
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    display: flex;
    place-items: center;
    border-radius: 0 66px 66px 0;
}

#location-icon {
    height: 1.6rem;
    width: 1.6rem;
}

@media only screen and (max-width: 480px) {
    .search-container {
        justify-content: center;
    }
}

@media only screen and (min-width: 2000px) {
    html {
        font-size: 12px;
    }
}

@media only screen and (min-width: 2600px) {
    html {
        font-size: 14px;
    }
}